{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href={% static 'assets/img/logo.jpg' %}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!--=============== CSS ===============-->
    <link rel="stylesheet" href={% static 'assets/css/styles.css' %}>

    <title>Wash Your Car at your doorstep.</title>
</head>

<body>
    <!--=============== HEADER ===============-->
   
    {% include 'header.html' %}

    <main>
        <!--=============== HOME ===============-->
        <section class="container section section__height" id="home">

            <div class="search__bar">

                <input id="myInput" class="search__input" placeholder="Search" type="text" onkeypress="searchBlock()">
                <img class="search__img" src={% static 'assets/img/refresh.svg' %} onclick="ref()"  alt="">


            </div>

            <div class="shop__list">

                <!-- single product start -->
                
                {% for data in allData %}  

                <section class="shop__flex__shop">
                    <div class="left__block">
                        <h2 class="value__search">{{data.product.name}}</h2>
                        <h3>Rs. {{data.product.price}}</h3>
                        <p class="content" >{{data.product.dis}}</p>
                        <button class="readmore__btn" onclick="readMore(this)">Read More</button>
                    </div>
                    <div class="right__block">

                        <img class="shop__img" src="{{data.product.img}}" alt="">
                        
                        <a href="{{data.link}}" target="_blank"> <button type="button" class="button__buy">Buy</button></a>

                    </div>
                </section>

                {% endfor %}


                <!-- single product end -->
                

            </div>

        </section>




    </main>




    <!--=============== MAIN JS ===============-->
    <script src={% static 'assets/js/main.js' %}></script>

</body>

</html>