{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href={% static 'assets/img/logo.jpg' %}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!--=============== CSS ===============-->
    <link rel="stylesheet" href={% static 'assets/css/styles.css' %}>

    <title>Wash Your Car at your doorstep.</title>
</head>

<body>
    <!--=============== HEADER ===============-->

    {% include 'header.html' %}

    <main>
        <!--=============== HOME ===============-->
        <section class="container section section__height" id="home">
            <h2 class="section__title">Welcome </h2>
            <div class="scroll">

                <section class="sec__block">
                    <img class="scroll__img" src={% static 'assets/freeImg/7.jpeg' %} alt= "">

                    <a href="#"></a>

                </section>
                <section class="sec__block">
                    <img class="scroll__img" src={% static 'assets/freeImg/Free Photo Close up on car care process.jpeg' %} alt= "">
                    <a href="#"></a>
                </section>
                <section class="sec__block">
                    <img class="scroll__img" src={% static 'assets/freeImg/Free Photo Man polish a car in a garage(1).jpeg' %}
                        alt= "">
                    <a href="#"></a>
                </section>
                <section class="sec__block">
                    <img class="scroll__img"
                        src={% static 'assets/freeImg/Free Photo Professional washer in blue uniform washing luxury car with water gun on an open air car wash.jpeg' %}
                        alt= "">
                    <a href="#"></a>
                </section>
                <section class="sec__block">

                    <img class="scroll__img" src={% static 'assets/freeImg/5.jpeg' %} alt= "">
                    <a href="#"></a>
                </section class="sec__block">
                <section>
                    <img class="scroll__img" src={% static 'assets/freeImg/6.jpeg' %} alt= "">
                    <a href="#"></a>
                </section>
                <section class="sec__block">
                    <img class="scroll__img" src={% static 'assets/freeImg/Free Photo Car wash detailing station.jpeg' %} alt= "">
                    <a href="#"></a>

                </section>

            </div>


        </section>

        <!--=============== Recently Added ===============-->
        <section class="container section section__height" id="about">
            <h2 class="section__title">Recently Added</h2>

            
            <div class="shop__list">
                <!-- div -> shop__flex 1 block of code (section here) crating by for loop  -->
                
                {% for data in allData %}
                    
                    
                <section class="shop__flex">
                    <div class="left__block">
                        <h2 class="font_black">{{data.product.name}}</h2>
                        <h3 class="font_black">Rs. {{data.product.price}}</h3>
                        <span>{{data.product.dis}}</span>
                    </div>
                    <div class="right__block">

                        <img class="shop__img" src="{{data.product.img}}" alt= "">
                        <a href="{{data.link}}" target="_blank"><button type="button" class="button__buy">Buy</button></a>
                    </div>
                </section>
                <!-- section and loop end -->
                {% endfor %}

            </div>

        </section>


    </main>




    <!--=============== MAIN JS ===============-->
    <script src={% static 'assets/js/main.js' %}></script>

</body>
<!-- ====================== Footer ===================== -->
<footer class="footer__custom">
    <div class="media__logo">
        <a href="#"></a><img id="contact" class="footer__logo" src={% static 'assets/img/facebook-logo-24.png' %} alt= ""> </a>
        <a href="#"></a><img class="footer__logo" src={% static 'assets/img/whatsapp-logo-24.png' %} alt= ""> </a>
        <a href="#"></a><img class="footer__logo" src={% static 'assets/img/instagram-logo-24.png' %} alt= ""> </a>
        <a href="#"></a><img class="footer__logo" src={% static 'assets/img/twitter-logo-24.png' %} alt= ""> </a>
        <a href="#"></a><img class="footer__logo" src={% static 'assets/img/github-logo-24.png' %} alt= ""> </a>
    </div>
    <div class="copyright__block">
        @ copyright 2023
    </div>
</footer>

</html>