{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href={% static 'assets/img/logo.jpg' %}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!--=============== CSS ===============-->
    <link rel="stylesheet" href={% static 'assets/css/styles.css' %}>

    <title>Wash Your Car at your doorstep.</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    {% include 'header.html' %}
    
    <main>
        <!--=============== HOME ===============-->
        <section class="container section section__height" id="home">

            <div class="service__section">

                <div class="service__block">
                    <img class="service__img" src={% static 'assets/freeImg/Free Photo Close up on car care process.jpeg' %} alt="">
                    <h2 class="font_black">Panner Chilly Dry</h2>
                    <h3 class="font_black">$ 69</h3>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur animi magni provident
                        molestiae excepturi ab nostrum deserunt.</span>
                    <button type="button" class="button__buy">Whats App</button>
                </div>
                <div class="service__block">
                    <img class="service__img" src={% static 'assets/freeImg/Free Photo Man polish a car in a garage(1).jpeg' %}
                        alt="">
                    <h2 class="font_black">Panner Chilly Dry</h2>
                    <h3 class="font_black">$ 69</h3>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur animi magni provident
                        molestiae excepturi ab nostrum deserunt.</span>
                    <button type="button" class="button__buy">Whats App</button>
                </div>
                <div class="service__block">
                    <img class="service__img"
                        src={% static 'assets/freeImg/Free Photo Professional washer in blue uniform washing luxury car with water gun on an open air car wash.jpeg' %}
                        alt="">
                    <h2 class="font_black">Panner Chilly Dry</h2>
                    <h3 class="font_black">$ 69</h3>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur animi magni provident
                        molestiae excepturi ab nostrum deserunt.</span>
                    <button type="button" class="button__buy">Whats App</button>
                </div>
                <div class="service__block">
                    <img class="service__img"
                        src={% static 'assets/freeImg/Free Photo Professional washer in blue uniform washing luxury car with water gun on an open air car wash.jpeg' %}
                        alt="">
                    <h2 class="font_black">Panner Chilly Dry</h2>
                    <h3 class="font_black">$ 69</h3>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur animi magni provident
                        molestiae excepturi ab nostrum deserunt.</span>
                    <button type="button" class="button__buy">Whats App</button>
                </div>
                <div class="service__block">
                    <img class="service__img" src={% static 'assets/freeImg/5.jpeg' %} alt="">
                    <h2 class="font_black">Panner Chilly Dry</h2>
                    <h3 class="font_black">$ 69</h3>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur animi magni provident
                        molestiae excepturi ab nostrum deserunt.</span>
                    <button type="button" class="button__buy">Contact</button>
                </div>
                <div class="service__block">
                    <img class="service__img" src={% static 'assets/freeImg/6.jpeg' %} alt="">
                    <h2 class="font_black">Panner Chilly Dry</h2>
                    <h3 class="font_black">$ 69</h3>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur animi magni provident
                        molestiae excepturi ab nostrum deserunt.</span>
                    <button type="button" class="button__buy">Contact</button>
                </div>
                <div class="service__block">
                    <img class="service__img" src={% static 'assets/freeImg/7.jpeg' %} alt="">
                    <h2 class="font_black">Panner Chilly Dry</h2>
                    <h3 class="font_black">$ 69</h3>
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur animi magni provident
                        molestiae excepturi ab nostrum deserunt.</span>
                    <button type="button" class="button__buy">Contact</button>
                </div>
            </div>

        </section>




    </main>




    <!--=============== MAIN JS ===============-->
    <script src={% static 'assets/js/main.js' %}></script>

</body>

</html>